/*@import '../node_modules/mini.css/dist/mini-default.min.css';*/
#consumptionPieChartContainer{
    max-width: 50rem;
    max-height: 500px;
}

.page-width{
    max-width: 65rem;
}

h3{font-size: 1.5rem;}

#site-title {
    all: unset;
    display: inline;
}